In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df= pd.read_csv("Products.csv")

In [ ]:
df.head(10)

   Product Id Weight (kg) Length (m) Width (m) Height (m)
0       44331       1.025     0.2286    0.1524     0.0508
1       44352       0.504       0.14      0.04       0.16
2       44373       0.488      0.105     0.105      0.075
3       44394      1.0028       0.11      0.11       0.15
4       44415        0.55       0.13      0.13       0.11
5       44436       0.045       0.08      0.08       0.26
6       44457       0.224       0.15      0.13       0.03
7       44478       0.246       0.13      0.03       0.14
8       44499       2.003       0.36      0.26       0.04
9       44520      1.0018       0.28      0.21       0.05

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3058 entries, 0 to 3057
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Product Id   3058 non-null   int64
 1   Weight (kg)  3054 non-null   object
 2   Length (m)   3053 non-null   object
 3   Width (m)    3056 non-null   object
 4   Height (m)   3054 non-null   object
dtypes: int64(1), object(4)
memory usage: 119.6+ KB

Seems like the Weight, Length, Width and Heights are all in "string" instead of integer type.

**Turning all the string values to Integer values as these features should be in Integer type. The number characters will turn to integer, any other invalid strings will convert to NaN**

In [ ]:
df[["height_int","weight_int","width_int","length_int"]]= df[["Height (m)", "Weight (kg)", "Width (m)", "Length (m)" ]].apply(pd.to_numeric, errors='coerce')
# errors='coerce' is used for handling any string data that cannot be converted to int. The invalid string will be 
#replaced as NaN.

In [ ]:
df.head(5)

   Product Id Weight (kg) Length (m)  ... weight_int width_int  length_int
0       44331       1.025     0.2286  ...     1.0250    0.1524      0.2286
1       44352       0.504       0.14  ...     0.5040    0.0400      0.1400
2       44373       0.488      0.105  ...     0.4880    0.1050      0.1050
3       44394      1.0028       0.11  ...     1.0028    0.1100      0.1100
4       44415        0.55       0.13  ...     0.5500    0.1300      0.1300

[5 rows x 9 columns]

Checking for Rows with all 0 values

In [ ]:
outputofzerovals_all= df[(df['height_int']==0) | (df['weight_int']==0) | (df['length_int']==0) | (df['width_int']==0)]
outputofzerovals_all

      Product Id Weight (kg) Length (m)  ... weight_int width_int  length_int
12         44583           0          0  ...        0.0       0.0         0.0
21         44772           0          0  ...        0.0       0.0         0.0
25         44856           0          0  ...        0.0       0.0         0.0
27         44898           0          0  ...        0.0       0.0         0.0
28         44919           0          0  ...        0.0       0.0         0.0
...          ...         ...        ...  ...        ...       ...         ...
3045      129066           0          0  ...        0.0       0.0         0.0
3047      129108           0          0  ...        0.0       0.0         0.0
3049      129150           0          0  ...        0.0       0.0         0.0
3052      129213           0          0  ...        0.0       0.0         0.0
3056      129297           0          0  ...        0.0       0.0         0.0

[1524 rows x 9 columns]

**More than 1500 rows are consisting of all zeroes value columns. Hence, case deletion will not be ideal.**

Dropping the Previous columns with invalid strings and invalid type data, keeping only the converted ones.

In [ ]:
df.drop(columns=['Weight (kg)', 'Length (m)', 'Width (m)', 'Height (m)'], inplace=True)
df.head(2)

   Product Id  height_int  weight_int  width_int  length_int
0       44331      0.0508       1.025     0.1524      0.2286
1       44352      0.1600       0.504     0.0400      0.1400

Rows with **any** NaN in their columns

In [ ]:
df[df.isna().any(axis=1)] #Rows with any NaN in their columns

      Product Id  height_int  weight_int  width_int  length_int
33         45024      0.0762         NaN     0.2286      0.1143
46         45297      0.0700       0.022     0.1600         NaN
94         46305         NaN       1.004     0.1900      0.2600
122        46893      0.0300         NaN     0.1200      0.1600
157        47628         NaN       0.144     0.0500      0.0600
188        48279      0.1524         NaN     0.0900      0.1400
236        49287      0.1300       0.278        NaN      0.1300
284        50295      0.0000       0.000     0.0000         NaN
285        50316      0.0300       0.005     0.0900         NaN
353        51744      0.0000       0.000     0.0000         NaN
381        52332         NaN       1.900     0.1000      0.1000
424        53235      0.1020         NaN     0.0800      0.0800
552        55923      0.0200       0.012     0.0100         NaN
614        57225      0.0200       0.766        NaN      0.2200
671        58422      0.0500         NaN     0.0900      0.0900
708        59199         NaN       0.072     0.0650      0.1350
727        59598      0.1400       0.130        NaN      0.0600
761        60312      0.2900       1.480     0.0800         NaN
859        62370      0.2800       1.100     0.1200         NaN
912        63483      0.2150       0.392     0.0450         NaN
995        65226      0.1300         NaN     0.0600      0.0600
1028       65919      0.0600       0.404        NaN      0.1300
1125       67956      0.0800       0.534        NaN      0.1550
1160       68691      0.1500         NaN     0.0750      0.0750
1232       70203      0.1800       0.368        NaN      0.1400
1278       71169         NaN       1.060     0.0800      0.0800
1326       72177         NaN       0.100     0.1250      0.1600
1370       73101      0.0900       0.102        NaN      0.1250
1443       74634      0.2200       0.600     0.0620         NaN
1533       76524      0.2500         NaN     0.0550      0.1950
1570       77301      0.0100         NaN     0.1100      0.2100
1702       80073      0.1600         NaN     0.0900      0.0900
1729       80640      0.1600       0.380        NaN      0.0800
1799       82110      0.0450       0.147     0.1150         NaN
1889       84000      0.2600       0.201        NaN      0.2000
1946       85197         NaN       0.780     0.0900      0.0900
2137       89208      0.0762       0.810     0.1651         NaN
3019      128520         NaN       0.454     0.0400      0.0700

In [ ]:
df[df.isna().all(axis=1)]  #There are no rows with all 'NaN' Value

Empty DataFrame
Columns: [Product Id, height_int, weight_int, width_int, length_int]
Index: []

In [ ]:
df_copy= df.copy() #making sure the original clean data is not accidentally altered

In [ ]:
df_copy.head()

   Product Id  height_int  weight_int  width_int  length_int
0       44331      0.0508      1.0250     0.1524      0.2286
1       44352      0.1600      0.5040     0.0400      0.1400
2       44373      0.0750      0.4880     0.1050      0.1050
3       44394      0.1500      1.0028     0.1100      0.1100
4       44415      0.1100      0.5500     0.1300      0.1300

Keeping a Copy to ensure no data is accidently lost, hampered etc.

**For handling NaN Values, I have chosen the Forward and Backward Fill Solution.**

In [ ]:
df_copy['height_int_no_na'] = df['height_int'].fillna(method='ffill').fillna(method='bfill')
df_copy['height_int_no_na'].isnull().values.any()

False

In [ ]:
df_copy['weight_int_no_na'] = df['weight_int'].fillna(method='ffill').fillna(method='bfill')
df_copy['weight_int_no_na'].isnull().values.any()  #Checking if the NaN values exist after forward-backward fill

False

In [ ]:
df_copy['length_int_no_na'] = df['length_int'].fillna(method='ffill').fillna(method='bfill')
df_copy['length_int_no_na'].isnull().values.any()  #Checking if the NaN values exist after forward-backward fill

False

In [ ]:
df_copy['width_int_no_na'] = df['width_int'].fillna(method='ffill').fillna(method='bfill')
df_copy['width_int_no_na'].isnull().values.any()  #Checking if the NaN values exist after forward-backward fill

False

Dropping columns that are not needed

In [ ]:
df_copy.drop(columns=['height_int', 'weight_int', 'width_int', 'length_int'], inplace=True)

In [ ]:
df_copy.head(10)

   Product Id  height_int_no_na  ...  length_int_no_na  width_int_no_na
0       44331            0.0508  ...            0.2286           0.1524
1       44352            0.1600  ...            0.1400           0.0400
2       44373            0.0750  ...            0.1050           0.1050
3       44394            0.1500  ...            0.1100           0.1100
4       44415            0.1100  ...            0.1300           0.1300
5       44436            0.2600  ...            0.0800           0.0800
6       44457            0.0300  ...            0.1500           0.1300
7       44478            0.1400  ...            0.1300           0.0300
8       44499            0.0400  ...            0.3600           0.2600
9       44520            0.0500  ...            0.2800           0.2100

[10 rows x 5 columns]

In [ ]:
df_copy.isnull().values.any() #Checking if the Dataframe has any NaN values left

False

**The Data is clean of NaN values entirely. Now to handle zero  entries. To replace the zero values, mean of the column is taken and replaced.**

In [ ]:
df_copy.all() #Checking if zero value does not exist

Product Id           True
height_int_no_na    False
weight_int_no_na    False
length_int_no_na    False
width_int_no_na     False
dtype: bool

Above code shows that apart from the Product ID, all columns have 0 values

Taking all the 0 values from the respective columns and replacing them with the Median value of the Column.

In [ ]:
df_copy[['height', 'weight', 'length', 'width']]=df_copy[['height_int_no_na', 'weight_int_no_na', 'length_int_no_na', 'width_int_no_na']].mask(df_copy[['height_int_no_na', 'weight_int_no_na', 'length_int_no_na', 'width_int_no_na']]==0).fillna(df_copy[['height_int_no_na', 'weight_int_no_na', 'length_int_no_na', 'width_int_no_na']].median())
df_copy

      Product Id  height_int_no_na  weight_int_no_na  ...   weight   length   width
0          44331            0.0508            1.0250  ...  1.02500  0.22860  0.1524
1          44352            0.1600            0.5040  ...  0.50400  0.14000  0.0400
2          44373            0.0750            0.4880  ...  0.48800  0.10500  0.1050
3          44394            0.1500            1.0028  ...  1.00280  0.11000  0.1100
4          44415            0.1100            0.5500  ...  0.55000  0.13000  0.1300
...          ...               ...               ...  ...      ...      ...     ...
3053      129234            0.0300            0.0061  ...  0.00610  0.13000  0.0500
3054      129255            0.1600            0.0114  ...  0.01140  0.06000  0.0300
3055      129276            0.1950            0.3000  ...  0.30000  0.06000  0.0420
3056      129297            0.0000            0.0000  ...  0.00575  0.01625  0.0050
3057      129318            0.2350            0.7980  ...  0.79800  0.11500  0.0500

[3058 rows x 9 columns]

In [ ]:
df_copy.all() #Shows the previous columns have 0 values and new columns does not contain 0 values.

Product Id           True
height_int_no_na    False
weight_int_no_na    False
length_int_no_na    False
width_int_no_na     False
height               True
weight               True
length               True
width                True
dtype: bool

In [ ]:
#Dropping the previous columns with 0 values
df_copy.drop(columns=['height_int_no_na', 'weight_int_no_na', 'length_int_no_na', 'width_int_no_na'], inplace=True)
df_copy

      Product Id  height   weight   length   width
0          44331  0.0508  1.02500  0.22860  0.1524
1          44352  0.1600  0.50400  0.14000  0.0400
2          44373  0.0750  0.48800  0.10500  0.1050
3          44394  0.1500  1.00280  0.11000  0.1100
4          44415  0.1100  0.55000  0.13000  0.1300
...          ...     ...      ...      ...     ...
3053      129234  0.0300  0.00610  0.13000  0.0500
3054      129255  0.1600  0.01140  0.06000  0.0300
3055      129276  0.1950  0.30000  0.06000  0.0420
3056      129297  0.0100  0.00575  0.01625  0.0050
3057      129318  0.2350  0.79800  0.11500  0.0500

[3058 rows x 5 columns]

In [ ]:
df_copy.all() # affirming that none of the columns have 0 values

Product Id    True
height        True
weight        True
length        True
width         True
dtype: bool

In [ ]:
df_copy.isnull().values.any() #Checking if the Dataframe has any NaN values left

False

Hence all NaN values, Invalid data and zero values have been handled.